<!DOCTYPE html>
<html>
  <style>
div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: auto;
  text-align: center;
}

divleft {

}
  </style>
  <head>
    <title>{{ author }}'s app</title>
  </head>

  <body>
    <h2>Hello {{ name }}!</h2>
    <div>
      {% for item in fakelist %}
      <p><b>Task to do: </b> {{item[0]}} <b>Email assigned: </b> {{item[1]}} <b>Priority: </b> {{item[2]}}</p>
      {% endfor %}
    </div>
    <div>
  <form action = "/submit" method = "post">
    Task Whatis: <input type="text" name="task"><br/>
    Task Email: <input type="text" name="email"><br/>
    Task Priority: <select name="priority">
      <option value="low">low</option>
      <option value="medium">medium</option>
      <option value="high">high</option>
  </select><br/><br />
    <input type="submit" value="Submit">
    <form action= "/clear" method="post">
      <input type="submit" value="Clear">
    </form>
  </form>
</div>
  </body>
</html>